obj/IntroductionToADO.Introduction.csproj.nuget.dgspec.json
obj/IntroductionToADO.Introduction.csproj.nuget.g.props
obj/IntroductionToADO.Introduction.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
IntroductionToADO.Introduction.csproj
bin/Debug/net10.0
obj/Debug/net10.0
/bin/Release/net10.0/linux-x64
/obj/Release/net10.0/linux-x64
